.head_syl_1 {
    font-family:Arial, Helvetica, sans-serif;
    color:darkslategray;
    position:absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 45px;
}

.divbottom {
    padding:5px;
}

.divcenter {
    margin: auto;
    /* display: flex; */
    /* align-items: center; */
    width: 50%;
    padding: 10px;
}

.divleft {
    margin: auto;
    /* display: flex; */
    /* align-items: center; */
    float: left;
    width: 50%;
}

.divright {
    margin: auto;
    /* display: flex; */
    /* align-items: center; */
    float: left;
    width: 50%;
}


.relative {
    position:relative;
}

.head_div {
    background-image: url("../resources/icon.png");
    opacity: 0.05;
    background-color:aqua; /* Used if the image is unavailable */
    height: 113px; /* You must set a specified height */
    background-position: center; /* Center the image */
}

.textcenter {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.select_sty {
    width: 100%;
}

.button_sty1 {
    width: 66%;
    float: left;
    margin-left:25%;
    font-size:10px;
}



.editor_div {
    width: 48%;
    float: right;
    border:3px solid black;
    margin-top: 2%;
}

.editor_textarea {
    width: 99%;
    resize: none;
}

.md_div {
    width: 48%;
    float: left;
    border:3px solid grey;
    margin-top: 2%;
}

.button_sty2 {
    float: right;
    margin-right:2%;
}

.input_sty1 {
    float:right
}

/* .icon_fill {
    width:300;
    height:300;
    opacity: 0.3;
} */
/* 
#head img {
    width: 100%;
    height: 100%;
} */


